{% extends "layout.html" %}

{% load static %}
{% block title %} Participantes del tour: {{ tour.name }} {% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'tours.css' %}" />
{% endblock %}

{% block body %}
<main class="participants">
  <h1 class="main__title">Participantes del tour: {{ tour.name }}</h1>

  {% if participants %}
  <ul class="participants__list">
    {% for r in participants %}
    <li class="participants__item">
      <span class="participants__name">{{ r.tourist.user.username }}</span> 
      {% if r.is_confirmed %}
      <span class="status">Confirmada</span>
      {% else %}
      <span class="status pending">Pendiente</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No hay participantes en este tour todavía.</p>
  {% endif %}
</main>
{% endblock %}
