{% extends "layout.html" %}
{% load static %}
{% block title %} Inicio {% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'accounts.css' %}" />
{% endblock %}

{% block body %}
<section class="hero">
  <h1 class="hero__title">Bienvenido a Aventurízate</h1>
  <p>Descubre la riqueza natural y la magia del avistamiento de aves. Adéntrate en las reservas naturales de Nicaragua, recorre rutas únicas de observación y maravíllate con la diversidad de flora y fauna que habita en ellas. Explora nuestro catálogo de aves y conoce sus características, colores y sonidos, mientras disfrutas de una experiencia inolvidable en contacto directo con la naturaleza.</p>
</section>

{% if random_bird %}
<section class="highlight highlight--bird">
  <h2 class="highlight__title">Ave destacada</h2>
  <article class="highlight__content">
    <h3 class="highlight__subtitle">
      {{ random_bird.common_name }}
      <span class="highlight__scientific">({{ random_bird.scientific_name }})</span>
    </h3>
    {% if bird_photo %}
      <img class="highlight__image" src="{{ bird_photo.image.url }}" alt="{{ bird_photo.description }}">
    {% endif %}
    <p class="highlight__text">{{ random_bird.description|truncatechars:200 }}</p>
    <a href="{% url 'bird_detail' random_bird.slug %}">Ver más</a>
  </article>
</section>
{% endif %} {% if random_tour %}
<section class="highlight highlight--tour">
  <h2 class="highlight__title">Tour destacado</h2>
  <article class="highlight__content">
    <h3 class="highlight__subtitle">
      {{ random_tour.name }} por {{ random_tour.guide.user.username }}
    </h3>
    {% if random_tour.photo %}
      <img class="highlight__image" src="{{ random_tour.photo.url }}" alt="{{ random_tour.name }}">
    {% endif %}
    <p class="highlight__text">{{ random_tour.description|truncatechars:200 }}</p>
    <p class="highlight__date">Fecha: {{ random_tour.date }}</p>
    <a href="{% url 'tour_detail' random_tour.id %}">Ver más</a>
  </article>
</section>
{% endif %}
{% if random_reserve %}
  <section class="highlight highlight--reserve">
    <h2 class="highlight__title">Reserva natural destacada</h2>
    <article class="highlight__content">
      <h3 class="highlight__subtitle">{{ random_reserve.name }}</h3>
      {% if reserve_photo %}
          <img class="highlight__image" src="{{ reserve_photo.image.url }}" alt="{{ reserve_photo.description }}">
      {% endif %}
      <p class="highlight__text">{{ random_reserve.description|truncatechars:200 }}</p>
      <a href="{% url 'reserve_detail' random_reserve.id %}">Ver más</a>
    </article>
  </section>
{% endif %} {% endblock %}
