{% extends "layout.html" %}
{% load static %}
{% block title %} Login {% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'accounts.css' %}" />
  <link rel="stylesheet" href="{% static 'form.css' %}" />
{% endblock %}

{% block body %}
  <h1 class="main__title">Iniciar sesión</h1>
  {% if message %}
    <div class="message">{{ message }}</div>
  {% endif %}
  <form class="form form--auth" method="post">
    {% csrf_token %} {{ form.as_p }}
    <button class="button button--primary" type="submit">Entrar</button>
  </form>
{% endblock %}
