{% extends "layout.html" %}
{% load static %}
{% block title %} Reservas Naturales {% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'reserves.css' %}" />
  <link rel="stylesheet" href="{% static 'pagination.css' %}" />
  <link rel="stylesheet" href="{% static 'card.css' %}" />
{% endblock %}

{% block body %}
<h1 class="main__title">Reservas Naturales</h1>

{% if reserves %}
<div class="grid-card">
  {% for reserve in reserves %}
  <article class="card">
    {% if reserve.photo %}
    <img
      class="card__image"
      src="{{ reserve.photo.image.url }}"
      alt="Foto de {{ reserve.name }}"
    />
    {% else %}
    <img
      class="card__image"
      src="{% static 'images/no_bird_photo.png' %}"
      alt="Sin foto disponible"
    />
    {% endif %}
    <div class="card__body">
      <h1 class="card__title">{{ reserve.name }}</h1>
      <p class="reserve-card__description">
        {{ reserve.description|truncatewords:20 }}
      </p>
      <a href="{% url 'reserve_detail' reserve.pk %}" class="reserve-card__link">Ver más</a>
    </div>
    
  </article>
  {% endfor %}
</div>
{% else %}
<p>No hay reservas disponibles.</p>
{% endif %}

<!-- Paginación -->
<nav class="pagination">
  {% if reserves.has_previous %}
  <a href="?page=1" class="pagination__link"><i class="material-icons">first_page</i></a>
  <a href="?page={{ reserves.previous_page_number }}" class="pagination__link"
    ><i class="material-icons">keyboard_arrow_left</i></a
  >
  {% endif %}

  <span class="pagination__info">
    Página {{ reserves.number }} de {{ reserves.paginator.num_pages }}
  </span>

  {% if reserves.has_next %}
  <a href="?page={{ reserves.next_page_number }}" class="pagination__link"
    ><i class="material-icons">keyboard_arrow_right</i></a
  >
  <a href="?page={{ reserves.paginator.num_pages }}" class="pagination__link"
    ><i class="material-icons">last_page</i></a
  >
  {% endif %}
</nav>
{% endblock %}
